@using WebApplication1.ViewModels
@model MenuListViewModel

@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>

</head>
<body>
    @{ 
        foreach(var c in Model.allMenu)
        {
            <div>
                @c.MenuName
            </div>
        }
    }
</body>
</html>